{% extends "base.html" %}

{% block title %}
About
{% endblock title %}

{% block content %}
<div class="card bg-light mb-3" style="margin: 10px;">
    <div class="card-header" style="color: purple; font-size: 18px;">
        About FlyWire Connectome Data
    </div>
    <div class="card-body" >
        <h6>Status</h6>
        <ul>
            <li>FlyWire Connectome is being actively proofread and labeled - completeness and accuracy are improving daily</li>
            <li>Expected public release date (along with Codex) is Feb 2023</li>
        </ul>
        <h6>Credits, Terms and Privacy notice</h6>
        <ul>
            <li>To publish FlyWire data, please follow the instructions <a
                    href="https://docs.google.com/document/d/1bUkOB-5JnT3u__JDvAoVDHJ3zr5NXQtV_63yx2w6Tcc/">in this
                doc</a></li>
            <li>FlyWire <a href="https://flywire.ai/tos.html">Terms of Service and Privacy</a> notice</li>
            <li>Supported by BRAIN Initiative grant MH117815 to Murthy and Seung</li>
        </ul>
        <h6>Links and Resources</h6>
        <ul>
            <li>The <a href="https://flywire.ai" target="_blank">FlyWire</a> Project: A human-AI collaboration to map
                the fly connectome
            </li>
        </ul>
    </div>
</div>
{% endblock content %}