{% if attr_val %}
    <div class="spotfilter">
        <small><span style="color: teal" title="{{tooltip}}">{{caption}}</span>
            {{attr_val}}
        </small>
        {% if attr_key in multi_val_attrs %}
        <span class="td_filter_buttons">
            <button title="Exclude {{attr_val}}" class="btn btn-sm btn-link my-2 my-sm-0" onclick="apply_filter('{{attr_key}} != {{attr_val}}');" style="padding: 0px; font-size: 10px; color: red;"><i class="fa-solid fa-circle-minus"></i></button>
            <button title="Show only {{attr_val}}" class="btn btn-sm btn-link my-2 my-sm-0" onclick="apply_filter('{{attr_key}} == {{attr_val}}');" style="padding: 0px; font-size: 10px; color: green;"><i class="fa-solid fa-circle-plus"></i></button>
        </span>
        <span class="td_filter_buttons_caption">
            apply filter
        </span>
        {% else %}
            <span class="td_filter_buttons_caption" style="color: orange">
                all matches
            </span>
        {% endif %}
    </div>
{% endif %}