{% extends "base_barebones.html" %}

{% block base_barebones_content %}
<!-- Banner: h6 style="background: purple; color: white; text-align: center; font-size: 14px;">Dec 12, 2022: FlyWire data snapshot has been updated to v526. Previous snapshots are still available via settings.</h6 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <a id='nav_home' class="navbar-brand mb-0 h1" href="{{url_for('base.index')}}">
        <img width="30.6px" height="17.7px" src="{{url_for('base.asset', filename='codex-icon-color.png')}}">
        &nbsp;Codex</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="nav_explore" href="{{url_for('app.explore')}}">Explore</a>
            </li>
            <li class="nav-item">
                <a onclick="loading(event);" class="nav-link" id="nav_search" href="{{url_for('app.search')}}">Search</a>
            </li>
            <li class="nav-item">
                <a onclick="loading(event);" class="nav-link" id="nav_stats" href="{{url_for('app.stats')}}">Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav_cell_details" href="{{url_for('app.cell_details')}}">Cell Info</a>
            </li>
            <li class="nav-item">
                <a onclick="loading(event);" class="nav-link" id="nav_connectivity" href="{{url_for('app.connectivity')}}">Network</a>
            </li>
            <li class="nav-item">
                <a onclick="loading(event);" class="nav-link" id="nav_path_length" href="{{url_for('app.path_length')}}">Pathways</a>
            </li>
            <li class="nav-item">
                <a onclick="loading(event);" class="nav-link" id="nav_nblast" href="{{url_for('app.nblast')}}">NBLAST</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="nav_neuropils" href="{{url_for('app.neuropils')}}">Neuropils</a>
            </li>
            <li class="nav-item">
                <a onclick="loading(event);" class="nav-link" id="nav_synapse" href="{{url_for('app.synapse_density')}}">Synapse</a>
            </li>
            <li class="nav-item">
                <a onclick="loading(event);" class="nav-link" id="nav_lines" href="{{url_for('app.genetic_lines')}}">Genetic Lines</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="nav_more_active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  More
                </a>
                <div class="dropdown-menu" aria-labelledby="nav_more_active">
                  <a class="dropdown-item" id="nav_faq" href="{{url_for('base.faq')}}">FAQ</a>
                  <a class="dropdown-item" id="nav_leaderboard" href="{{url_for('app.leaderboard')}}">Tagathon</a>
                  <a class="dropdown-item" id="nav_about_codex" href="{{url_for('base.about_codex')}}">About Codex</a>
                  <a class="dropdown-item" id="nav_about_flywire" href="{{url_for('base.about_flywire')}}">About FlyWire</a>
                  <a class="dropdown-item" id="nav_account" href="{{url_for('base.account')}}">Account</a>
                </div>
            </li>

            <script>
              function highlight_elem_id(elem_id) {
                document.getElementById(elem_id).style.color = 'purple';
              }
              function configure_nav_bar(cur_url) {
                let fixed_tabs = ['search', 'cell_details', 'stats', 'explore',
                            'nblast', 'connectivity','path_length','neuropils', 'synapse', 'lines'];
                for (const tab of fixed_tabs){

                    if (cur_url.includes(tab)) {
                      highlight_elem_id('nav_' + tab);
                      return;
                    }
                }

                let more_tabs = ['faq', 'leaderboard', 'about_codex', 'about_flywire', 'account'];
                for (const tab of more_tabs){
                    if (cur_url.includes(tab)) {
                      console.log('+++ ' + document.getElementById('nav_' + tab).text);
                      document.getElementById('nav_more_active').text = document.getElementById('nav_' + tab).text;
                      highlight_elem_id('nav_more_active');
                      return;
                    }
                }

                highlight_elem_id('nav_home');
              }

              configure_nav_bar(window.location.href);
            </script>
        </ul>

        <div class="col-sm-3 my-1">
            <script>
              function send_feedback_txt() {
                txtbox = document.getElementById("feedback_txt");
                var feedback_txt = txtbox.value;
                if (feedback_txt) {
                    let data = {note: feedback_txt};
                    console.log("Submitting feedback:", data);
                    fetch("/feedback_note", {
                      method: "POST",
                      headers: {'Content-Type': 'application/json'},
                      body: JSON.stringify(data)
                    }).then(res => {
                      console.log("Feedback request complete, response:", res);
                      if (res.status == 200) {
                        txtbox.value = "";
                        txtbox.placeholder = "note sent";
                      }
                    });
                }
              }
            </script>
            <div class="input-group">
            <input type="text" class="form-control form-control-sm" id="feedback_txt" name="feedback_txt" placeholder="send feedback / question" title="Your message will be sent to the Codex team">
            <div class="input-group-append" >
              <div class="input-group-text" style="background-color: #1aa260;" onclick="send_feedback_txt();">
                  <i style="color: white;" class="fa-regular fa-paper-plane"></i>
              </div>
            </div>
            </div>
        </div>
    </div>
</nav>

{% block content %} {% endblock content %}

<div id="snackbar">
    <a class="btn btn-sm btn-link my-2 my-sm-0" style="color: red;" href="{{url_for('base.wip')}}">!! This is a Work in
        Progress !!</a>
</div>
{% endblock base_barebones_content %}