{% extends "base.html" %}
{% block title %} Cell Info {% endblock title %}
{% block content %}

<nav class="navbar navbar-light bg-light">
<form class="form-inline">
  <input class="form-control mr-sm-2" style="width: 50vw;" autocomplete="off" autofocus type="search" id="cell_names_or_id" name="cell_names_or_id" placeholder="enter cell name or ID" aria-label="Cell Name/ID" value="{{cell_names_or_id}}">
  <button class="btn btn btn-primary my-2 my-sm-0" type="submit" onclick="loading();"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>
</nav>

{% if cell_id %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawCharts);

      function drawChart(title, json, elem) {
        const data = google.visualization.arrayToDataTable(json);
        const options = {
          title: title,
          pieHole: 0.4,
        };
        const chart = new google.visualization.PieChart(elem);
        chart.draw(data, options);
      }
      function drawCharts() {
        charts_container = document.getElementById('charts_container');
        {% for k, v in charts.items() %}
            elem = document.createElement('div');
            elem.setAttribute("class", "card");
            elem.setAttribute("style", "width: 100%; height: 400px;");
            charts_container.appendChild(elem);
            drawChart("{{k}}", {{v|tojson}}, elem);
        {% endfor %}
      }
    </script>

    <div class="card-columns"  id="main_panels_container" style="padding: 5px;">
        <div class="card" style="width: 100%;">
            <div class="card-header" style="color: purple;">
              Cell Info
            </div>
            <div class="body">
                <table class="table">
                  <tbody>
                    {% for k, v in cell_attributes.items() %}
                        <tr>
                          <td>{{k|safe}}</td>
                          <td>{{v|safe}}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
        {% if load_connections %}
        <div class="card" style="width: 100%; height: 450px;">
            <div class="card-header" style="color: purple;">
                <a href="{{url_for('app.connections', root_ids=cell_id, log_request=0)}}" target="_blank">Connections with 5+ synapses<i style="margin-left: 5px;" class="fa-sharp fa-solid fa-up-right-from-square"></i> </a>
            </div>
            <iframe style="width: 100%; height: 100%;" src="{{url_for('app.connections', root_ids=cell_id, log_request=0)}}" title="connectivity" loading="lazy"></iframe>
        </div>
        {% endif %}

        <div class="card" style="width: 100%; height: 450px;">
            <div class="card-header" style="color: purple;">
                <a href="{{url_for('app.flywire_url', root_ids=[cell_id], log_request=0)}}" target="_blank">Skeleton <i style="margin-left: 5px;" class="fa-sharp fa-solid fa-up-right-from-square"></i></a>
            </div>
            <iframe style="width: 100%; height: 100%;" src="{{url_for('app.flywire_url', root_ids=[cell_id], log_request=0)}}" title="neuroglancer" loading="lazy"></iframe>
        </div>
    </div>
    <div class="card" style="width: 100%;">
        <div class="card-header" style="color: purple;">
          Related Cells
        </div>
        <div class="body">
            <table class="table">
              <tbody>
                {% for k, v in related_cells.items() %}
                    <tr>
                      <td>{{k|safe}}</td>
                      <td>{{v|safe}}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
    <div class="card-columns"  id="charts_container" style="padding: 5px;">
    </div>
{% else %}
<div class="card" style="margin: 15px;">
  <div class="card-header" style="color: purple;">
    What is this?
  </div>
  <div class="card-body">
    Look up a cell by name or ID to see its detailed information, including connectivity with upstream / downstream cells, 3D skeleton, annotations and a list of morphologically similar as well as other related cells.
    <br><br>
    <button class="btn btn btn-success my-2 my-sm-0" type="button" onclick="loading(); sb_elem = document.getElementById('cell_names_or_id'); sb_elem.value = '{random_cell}'; sb_elem.form.submit();">Try Random Cell</button>
  </div>
</div>

{% endif %}

{% endblock content %}