{% extends "base.html" %}
{% block title %} Cell Info {% endblock title %}
{% block content %}

<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" style="width: 50vw;" autocomplete="off" autofocus type="search"
               id="cell_names_or_id" name="cell_names_or_id" placeholder="enter cell name or ID"
               aria-label="Cell Name/ID" value="{{cell_names_or_id}}">
        <button class="btn btn btn-primary my-2 my-sm-0" type="submit" onclick="loading();"><i
                class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</nav>

{% if cell_id %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawCharts);

      function drawChart(title, json, elem) {
        const data = google.visualization.arrayToDataTable(json["data"]);
        const options = {
            title: title,
            legend: {position: 'bottom'}
        };
        var chart;
        if (json["type"] === "donut") {
            options.pieHole = 0.4;
            chart = new google.visualization.PieChart(elem);
        } else if (json["type"] === "bar") {
            chart = new google.visualization.BarChart(elem);
        } else {
            console.log('Unknown chart type', data);
            return;
        }

        function selectHandler() {
            if (json["search_filter"]) {
                const selectedItem = chart.getSelection()[0];
                if (selectedItem) {
                    const value = data.getValue(selectedItem.row, 0);
                    var filter_string;
                    if (json["search_filter"] === "input_output") {
                        const region = value.includes("Input") ? "upstream" : "downstream";
                        filter_string = "{" + region + "} {{cell_id}}";
                    } else if (json["search_filter"] === "input_nt_type") {
                        filter_string = "{upstream} {{cell_id}} && nt == " + value;
                    } else if (json["search_filter"] === "input_neuropils" || json["search_filter"] === "input_hemisphere") {
                        filter_string = value + " {upstream_region} {{cell_id}}";
                    } else if (json["search_filter"] === "output_neuropils" || json["search_filter"] === "output_hemisphere") {
                        filter_string = value + " {downstream_region} {{cell_id}}";
                    }
                    const searchbox = document.getElementById("cell_names_or_id");
                    searchbox.value = filter_string;
                    searchbox.form.submit();
                }
            }
        }
        google.visualization.events.addListener(chart, 'select', selectHandler);

        chart.draw(data, options);
      }
      function drawCharts() {
        charts_container = document.getElementById("charts_container");
        let chart_json;
        {% for k, v in charts.items() %}
            chart_json = {{v|tojson}};
            elem = document.createElement("div");
            elem.setAttribute("class", "card");
            elem.setAttribute("style", "width: 100%; height: " + chart_json["height_px"] + "px;");
            charts_container.appendChild(elem);
            drawChart("{{k}}", chart_json, elem);
        {% endfor %}
      }

</script>

<div class="card-columns" id="main_panels_container" style="padding: 5px;">
    <div class="card" style="width: 100%;">
        <div class="card-header" style="color: purple;">
            Cell Info
        </div>
        <div class="body">
            <table class="table">
                <tbody>
                {% for k, v in cell_attributes.items() %}
                <tr>
                    <td>{{k|safe}}</td>
                    <td>{{v|safe}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <form style="margin: 10px;" target="_blank">
                <p style="color: purple;"> <i class="fa-solid fa-pen-to-square"></i> Contribute your annotation / cell identification</p>
                <textarea class="form-control" id="annotation_text" minlength="2" rows="2" name="annotation_text"
                      placeholder="annotation / cell identification" required></textarea>
                <input style="margin-top: 10px;" class="form-control mr-sm-2" autocomplete="off" minlength="11" required
                    id="annotation_coordinates" name="annotation_coordinates" placeholder="coordinates: x y z (in nano)"
                    aria-label="Soma Coordinates in Nanometers" value="{{cell_coordinates}}">
                <input type="hidden" id="annotation_cell_id" name="annotation_cell_id" value="{{cell_id}}"/>
                <button type="submit" style="margin-top: 10px;" class="btn btn-outline-success btn-sm" formmethod="post">
                    Continue
                </button>
            </form>
        </div>
    </div>
    {% if load_connections %}
    <div class="card" style="width: 100%; height: 450px;">
        <div class="card-header" style="color: purple;">
            <a href="{{url_for('app.connectivity', cell_names_or_ids=cell_names_or_id)}}" target="_blank">Connections with
                5+ synapses<i style="margin-left: 5px;" class="fa-sharp fa-solid fa-up-right-from-square"></i> </a>
        </div>
        <iframe style="width: 100%; height: 100%;" src="{{url_for('app.connectivity', cell_names_or_ids=cell_names_or_id, headless=1)}}"
                title="connectivity" loading="lazy"></iframe>
    </div>
    {% endif %}

    <div class="card" style="width: 98%; height: 450px;">
        <div class="card-header" style="color: purple;">
            <a href="{{url_for('app.flywire_url', root_ids=[cell_id], log_request=-2)}}" target="_blank">3D Rendering <i
                    style="margin-left: 3px;" class="fa-sharp fa-solid fa-up-right-from-square"></i></a>
        </div>
        <iframe style="width: 98%; height: 100%;"
                src="{{url_for('app.flywire_url', root_ids=[cell_id], log_request=-2)}}" title="neuroglancer"
                loading="lazy"></iframe>
    </div>
</div>
<div class="card" style="width: 100%;">
    <div class="card-header" style="color: purple;">
        Related Cells
    </div>
    <div class="body">
        <table class="table">
            <tbody>
            {% for k, v in related_cells.items() %}
            <tr>
                <td>{{k|safe}}</td>
                <td>{{v|safe}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="card-columns" id="charts_container" style="padding: 5px;">
    {% for hdr, attribs in cell_extra_data.items() %}
    <div class="card" style="width: 100%;">
        <div class="card-header" style="color: purple;">
            {{hdr|safe}}
        </div>
        <div class="body">
            <table class="table">
                <tbody>
                {% for k, v in attribs.items() %}
                <tr>
                    <td>{{k|safe}}</td>
                    <td>{{v|safe}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="card" style="margin: 15px;">
    <div class="card-header" style="color: purple;">
        What is this?
    </div>
    <div class="card-body">
        Look up a cell by name or ID to see its detailed information, including connectivity with upstream / downstream
        cells, 3D rendering, annotations and a list of morphologically similar as well as other related cells.
        <br><br>
        <button class="btn btn btn-success my-2 my-sm-0" type="button"
                onclick="loading(); sb_elem = document.getElementById('cell_names_or_id'); sb_elem.value = '{random_cell}'; sb_elem.form.submit();">
            Try Random Cell
        </button>
    </div>
</div>

{% endif %}

{% endblock content %}