{% extends "base.html" %}
{% block title %} Connectivity {% endblock title %}
{% block content %}
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" style="width: 35vw;" autocomplete="off" autofocus type="search"
               id="cell_names_or_ids" name="cell_names_or_ids" placeholder="Cell names or IDs"
               aria-label="Cell Names or IDs" value="{{cell_names_or_ids}}">
        <button class="btn btn btn-primary my-2 my-sm-0" type="submit" onclick="loading();">
            <i class="fa-solid fa-circle-nodes"></i></button>
    </form>
</nav>

{% if message %}
<div class="card" style="margin: 15px;">
    <div class="card-header" style="color: purple;">
        Note
    </div>
    <div class="card-body">
        {{message|safe}}
    </div>
</div>
{% endif %}

{% if network_html %}
<iframe style="position: absolute; width: 100%; height: 80%; border: none" srcdoc="{{network_html}}"></iframe>
{% else %}
<div class="card" style="margin: 15px;">
    <div class="card-header" style="color: purple;">
        How it works
    </div>
    <div class="card-body">
        {{info_text|safe}}
        <br><br>
        <button class="btn btn btn-success" type="button"
                onclick="loading(); document.getElementById('cell_names_or_ids').value = '{{sample_input}}'; document.getElementById('cell_names_or_ids').form.submit();">
            Try with sample cells
        </button>
    </div>
</div>
{% endif %}

{% endblock content %}