{% extends "base.html" %}
{% block title %} Network Graphs {% endblock title %}
{% block content %}
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" style="width: 50vw;" autocomplete="off" autofocus type="search"
               id="cell_names_or_ids" name="cell_names_or_ids" placeholder="Cell names or IDs"
               aria-label="Cell Names or IDs" value="{{cell_names_or_ids}}">
        <input type="hidden" id="download_type" name="download" value=""/>
        <button class="btn btn btn-primary my-2 my-sm-0" type="submit" onclick="loading();">
            <i class="fa-solid fa-magnifying-glass-chart"></i></i></button>
        {% if network_html %}
            <script type="text/javascript">
                function download_data(val) {
                    elem = document.getElementById("download_type");
                    elem.value = val;
                    elem.form.submit();
                }
            </script>
            <a class="btn btn btn-outline-primary my-2 my-sm-0" style="margin: 5px;"
               onclick="download_data('csv');"><i class="fa-solid fa-download"></i> &nbsp;  CSV</a>
            <a class="btn btn btn-outline-primary my-2 my-sm-0"
                onclick="download_data('json');"><i class="fa-solid fa-download"></i> &nbsp;  JSON</a>
            <div>
            <label for="nodes_limit" class="form-label">Detail Level</label>
            <input style="margin: 5px;" type="range" class="form-range" min="1" max="100" id="nodes_limit" name="nodes_limit" value="{{nodes_limit}}" onchange="loading(); this.form.submit();">

            </div>

            <div class="dropdown">
              <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-repeat"></i> Simulate
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" onclick="document.getElementById('network-frame').contentWindow.drawGraph('barnesHut');">Barnes-Hut</button>
                <button class="dropdown-item" onclick="document.getElementById('network-frame').contentWindow.drawGraph('repulsion');">Repulsion</button>
                <button class="dropdown-item" onclick="document.getElementById('network-frame').contentWindow.drawGraph('forceAtlas2Based');">Force Atlas 2</button>
              </div>
            </div>

        {% endif %}
    </form>
</nav>

{% if message %}
<div class="card" style="margin: 15px;">
    <div class="card-header" style="color: purple;">
        Note
    </div>
    <div class="card-body">
        {{message|safe}}
    </div>
</div>
{% endif %}

{% if network_html %}
<iframe id="network-frame" style="position: absolute; width: 100%; height: 80%; border: none" srcdoc="{{network_html}}"></iframe>
{% else %}
<div class="card" style="margin: 15px;">
    <div class="card-header" style="color: purple;">
        How it works
    </div>
    <div class="card-body">
        {{info_text|safe}}
        <br><br>
        <button class="btn btn btn-outline-success" type="button"
                onclick="loading(); document.getElementById('cell_names_or_ids').value = '{{sample_input}}'; document.getElementById('cell_names_or_ids').form.submit();">
            Try with sample cells
        </button>
    </div>
</div>
{% endif %}

{% endblock content %}