{% extends "base_barebones.html" %}

{% block title %}
    Data Access Token
{% endblock title %}

{% block base_barebones_content %}

    <div class="card bg-light mb-3" style="margin: 10px;" id="error">
      <div class="card-header" style="color: purple; font-size: 18px;">
          <i style="margin-right: 5px;" class="fa-solid fa-key"></i> Provide Data Access Token
      </div>
      <div class="card-body">
          <p class="lead">Since FlyWire data is not published yet, you will need to provide a token that grants you
          early access.
              <ul>
                <li>If you've been granted access to FlyWire, obtain your token
                  <a href="https://global.daf-apis.com/auth/api/v1/create_token" target="_blank">here</a> and copy it in the box below.
              Note that if you're not signed in to FlyWire in this browser, you may need to sign in with Google again -
                  just make sure you are using the account that's registered with FlyWire.</li>
                <li>If you have not been granted access to FlyWire data yet, join the early data access community
                  <a href="https://join.flywire.ai" target="_blank">here</a> and come back once you are in.</li>
              </ul>
          </p>
      </div>
    </div>

    <div class="card bg-light mb-3" style="margin: 10px;" id="other_questions">
      <div class="card-body">
          <form style="margin-top: 10px;">
              <textarea class="form-control" id="access_token" rows="1" name="access_token" placeholder="enter your access token"></textarea>
              <button type="submit" style="margin-top: 10px;" class="btn btn-success btn-sm" formmethod="post">Submit</button>
          </form>
      </div>
    </div>

{% endblock base_barebones_content %}
