{% extends "base.html" %}
{% block title %} Download Data {% endblock title %}
{% block content %}


<div class="card bg-light mb-3" style="margin: 10px;" id="info">
    <div class="card-header" style="color: purple; font-size: 18px;">
         Download FlyWire Connectome Data
    </div>
    <div class="card-body">
        <p> Dear <b>{{user_name}}</b>, if you are using FlyWire data in your publications please follow the FlyWire <a
                    href="{{url_for('base.about_flywire')}}" target="_blank">citation guidelines</a> and <a
                    href="https://flywire.ai/principles.html" target="_blank">principles</a>.
            <br>
            For additional questions or clarification please email <b>flywire@princeton.edu</b>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="agree_chk" {{'checked' if agree_chk}}
                     onchange="document.getElementById('download_form').hidden=!document.getElementById('agree_chk').checked;">
              <label class="form-check-label" for="agree_chk">
                I understand and agree to follow the FlyWire <a
                    href="{{url_for('base.about_flywire')}}" target="_blank">citation guidelines</a> and <a
                    href="https://flywire.ai/principles.html" target="_blank">principles</a>.
              </label>
            </div>
        </p>
        <form id="download_form" {{'hidden' if not agree_chk}}>
                <label>Snapshot / version</label>
                <select class="form-select form-select-lg mb-3"
                        aria-label="Data Version"
                        id="data_version_select"
                        name="data_version"
                        onchange="this.form.submit();">
                    {% for k, v in data_versions.items() %}
                        <option value="{{k}}" {{'selected' if data_version==k}}>
                            {{v}}
                        </option>
                    {% endfor %}
                </select>

            {% for k, v in download_catalog.items() %}
                <div class="card bg-light mb-3" style="margin: 5px;">
                    <a class="card-header" style="color: purple; font-size: 18px;" data-toggle="collapse" href="#collapse{{k}}" role="button" aria-expanded="false" aria-controls="collapse{{k}}">
                        <i class="fa-solid fa-file-csv"></i> &nbsp; {{display(k)}} ({{display(v.file_size / 1000000)}} MB) &nbsp; <i class="fa-solid fa-angle-down"></i>
                    </a>
                    <div class="collapse" id="collapse{{k}}">
                      <div class="card-body">
                        <b>Description</b><br>{{v.description|safe}}
                        <br><br>
                        <b>File info</b><br>{{display(v.file_size)}} bytes, {{v.file_format}}
                        <br><br>
                        {% if v.file_content %}
                        <b>Content stats</b><br>
                        <table class="table table-hover table-sm">
                            {% for sk, sv in v.file_content.items() %}
                            <tr>
                                <td>{{sk}}</td>
                                <td>{{sv}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <br>
                        {% endif %}
                        <a href="{{url_for(request.endpoint, data_product=k)}}" class="btn btn btn-primary my-2 my-sm-0" target="_blank">
                            <i class="fa-solid fa-download"></i> &nbsp; {{v.file_name}}
                        </a>
                        <div style="margin-top: 10px;">To open the downloaded file go to the downloads folder in command line terminal and type: <b>{{ v.command + ' ' + v.file_name}}</b></div>
                        {% if not_chrome %}
                          <div style="color:red">This link might not work in your browser. Try Google Chrome.</div>
                        {% endif %}

                      </div>
                    </div>
                </div>
            {% endfor %}
        </form>
    </div>
</div>

{% include "cell_annotations_modal.html" %}
{% include "connectivity_tags_modal.html" %}

{% endblock content %}