{% extends "base.html" %}
{% block title %} Download Data {% endblock title %}
{% block content %}


<div class="card bg-light mb-3" style="margin: 10px;" id="info">
    <div class="card-header" style="color: purple; font-size: 18px;">
         Download FlyWire Connectome Data
    </div>
    <div class="card-body">
        <p> Dear <b>{{user_name}}</b>, beware
            that FlyWire data is not published yet.
            <br>
            <br>
            <i style="margin-right: 5px; color: red;" class="fa-solid fa-warning"></i>
            Do not share or forward the data to anyone without <b>written permission</b> from <b>flywire@princeton.edu</b>
            <i style="margin-left: 5px; color: red;" class="fa-solid fa-warning"></i>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="agree_chk" {{'checked' if agree_chk}}
                     onchange="document.getElementById('download_form').hidden=!document.getElementById('agree_chk').checked;">
              <label class="form-check-label" for="agree_chk">
                I understand and agree to not share data without permission
              </label>
            </div>
        </p>
        <form id="download_form" {{'hidden' if not agree_chk}}>
                <label>Snapshot / version</label>
                <select class="form-select form-select-lg mb-3"
                        aria-label="Data Version"
                        id="data_version_select"
                        name="data_version"
                        onchange="this.form.submit();">
                    {% for k, v in data_versions.items() %}
                        <option value="{{k}}" {{'selected' if data_version==k}}>
                            {{v}}
                        </option>
                    {% endfor %}
                </select>

            {% for k, v in download_catalog.items() %}
                <div class="card bg-light mb-3" style="margin: 5px;">
                    <a class="card-header" style="color: purple; font-size: 18px;" data-toggle="collapse" href="#collapse{{k}}" role="button" aria-expanded="false" aria-controls="collapse{{k}}">
                        <i class="fa-solid fa-file-csv"></i> &nbsp; {{display(k)}} ({{display(v.file_size / 1000000)}} MB) &nbsp; <i class="fa-solid fa-angle-down"></i>
                    </a>
                    <div class="collapse" id="collapse{{k}}">
                      <div class="card-body">
                        <b>Description</b><br>{{v.description|safe}}
                        <br><br>
                        <b>File info</b><br>{{display(v.file_size)}} bytes, {{v.file_format}}
                        <br><br>
                        <b>Content stats</b><br>
                        <table class="table table-hover table-sm">
                            {% for sk, sv in v.file_content.items() %}
                            <tr>
                                <td>{{sk}}</td>
                                <td>{{sv}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <br>
                        <button class="btn btn btn-primary my-2 my-sm-0" type="submit" name="data_product" value="{{k}}">
                            <i class="fa-solid fa-download"></i> &nbsp; {{v.file_name}}
                        </button>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </form>
    </div>
</div>

{% include "cell_annotations_modal.html" %}

{% endblock content %}