{% extends "base.html" %} {% block title %} Genetic Lines {% endblock title %}
{% block content %}

<div class="container">
  {% if selected %}
  <h1>{{selected}}</h1>
  <p>
    <a
      href="https://flweb.janelia.org/cgi-bin/view_flew_imagery.cgi?line=R{{selected}}"
      >View in Flyweb <i class="fa fa-external-link" aria-hidden="true"></i>
    </a>
  </p>
  {% for neuropil in expressions %}
  <p>
    Expresses in
    <a href="/app/neuropils?selected={{neuropil}}">{{neuropil}}</a> with
    intensity={{expressions[neuropil]["intensity"]}} and
    distribution={{expressions[neuropil]["distribution"]}}
  </p>
  {% endfor %} {% else %}
  <h1>Genetic Lines</h1>
  {% for line in lines %}
  <p><a href="/app/genetic_lines?selected={{line}}">{{line}}</a></p>
  {% endfor %} {% endif %}
  <div class="container">{% endblock content %}</div>
</div>
