{% extends "base.html" %}
{% block content %}
  <link rel="stylesheet" href="{{ url_for('styles', filename='index.css') }}">
  <div class="jumbotron" style="background-image: url(/background_image); background-size: 50%; background-position: right top; background-repeat: no-repeat;">
    <div class="container">
      <h1 class="display-4">Codex</h1>
      <p><i>Connectome Data Explorer</i></p>

        <!-- Data Snapshot Versions Modal -->
        <div class="modal fade" id="dataVersionsModal" tabindex="-1" role="dialog" aria-labelledby="dataVersionsModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="dataVersionsModalLabel">Available FlyWire Data Snapshots</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ul>
                  {% for di in data_version_infos %}
                    <li>{{di}}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div style="min-width: 300px; width: 50%;">
          <hr class="my-4" align="left">

          <h2 style="color: purple;">FlyWire Dataset Info</h2>
          <p>Codex provides access to <a href="details" type="button" data-toggle="modal" data-target="#dataVersionsModal">
            static snapshots
          </a>
          of the <a href="https://flywire.ai" target="_blank">FlyWire</a> full-brain connectome.
            See more details on the <a href="/faq">FAQs</a> page.</p>

          <table cellspacing="0" cellpadding="0" style="border: none; border-collapse: collapse;">
            <tr style="background: none; margin: 0; padding: 0;">
              <td style="padding: 0px;"><b>{{num_cells}}</b></td>
              <td style="padding: 0px;"><b>{{num_synapses}}</b></td>
              <td style="padding: 0px;"><b>{{num_annotations}}</b></td>
            </tr>
            <tr style="background: none; margin-top: -20px; padding: 0;">
              <td style="padding: 0px;">cells</td>
              <td style="padding: 0px;">synapses</td>
              <td style="padding: 0px;">annotations</td>
            </tr>
          </table>
          <br>
          <form id="searchForm">
            <input class="form-control mr-sm-2" autocomplete="off" autofocus type="search"
                 id="filter_string" name="filter_string" placeholder="search cells and annotations"
                 aria-label="Filter" value="{{filter_string}}">
          </form>

          <hr class="my-4" align="left">
        </div>


    </div>
    <br><br>

  <h2 style="text-align: center; color: purple;">Codex Usecases</h2>
  <div class="main">
    <br>
    <ul class="cards">
      {% for cd in card_data %}
        <li class="cards_item" onclick="location.href='{{url_for(cd.url)}}'">
          <div class="card" style="max-width: 300px; margin: 0 auto;">
            <div class="card_image" style="height: 200px; margin: 0 auto;">
              <img src="{{url_for('asset', filename=cd.asset_filename)}}" style="align: center; object-fit: cover; min-width: 100%; width: auto; height: auto; margin: 0 auto;">
            </div>
            <div class="card_content" style="height: 120px;">
              <h2 class="card_title">{{cd.header}}</h2>
              <p class="card_text">{{cd.body}}<br></p>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

  <h3 class="made_by">One &#129712; was harmed in the making of this data</h3>

{% endblock content %}
