{% extends "base.html" %}

{% block title %}
Leaderboard
{% endblock title %}

{% block content %}
<!--
<div id="leaderboard-banner"><img src="{{url_for('base.asset', filename='leaderboard.png')}}" style="width: auto; max-width: 100%; max-height: 150px;"></div>
-->
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">

        <input class="form-control mr-sm-2" style="width: 50vw;" autocomplete="off" autofocus type="search"
               id="filter_string" name="filter_string" placeholder="filter by neuron attributes" aria-label="Filter"
               value="{{filter_string}}">
        <button class="btn btn btn-primary my-2 my-sm-0" type="submit" onclick="loading(event);"><i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
</nav>

<div style="margin: 25px; color:purple;">
    <p><i class="fa-solid fa-gauge"></i> Labeled cells: {{labeled_cells_caption}}</p>
    <p><i class="fa-solid fa-tags"></i> Total label count: {{display(label_count)}}</p>
    <p><i class="fa-solid fa-tag"></i> Distinct labels: {{display(unique_label_count)}}</p>
</div>

<div class="card mb-3" style="margin: 5px;">
    <div class="body">
        <div class="card-columns custom-columns" id="data_container" style="padding: 5px;">
            {% for k_l2, d_l2 in data_stats.items() %}
            <div class="card">
                {% if k_l2 %}
                <div class="card-header">
                    {{k_l2}}
                </div>
                {% endif %}
                <div style="overflow-x:auto;">
                    <table class="table">
                        <tbody>
                        {% for k_l3, v_l3 in d_l2.items() %}
                        <tr>
                            <td><b>{{k_l3|safe}}</b></td>
                            <td style="text-align: end;">{{v_l3|safe}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}