{% extends "base.html" %}

{% block title %}
    Matching Lines Submission Status
{% endblock title %}

{% block content %}

    <div class="container">


        <h2>Job Status</h2>
        <pre>
{{ response|tojson(indent=2) }}
</pre>
        {% if results %}
            <h2>Results</h2>
            <pre>
{{ results|tojson(indent=2) }}
            </pre>

        {% else %}
        <p>Job is still running. This page will reload to check every 10 seconds</p>
            <button
                    class="btn btn-primary"
                    onclick="window.location.reload();"
            >Reload Now
            </button>
                <script language="javascript">
setTimeout(function(){
   window.location.reload(1);
}, 10000);
</script>


        {% endif %}
    </div>

{% endblock content %}
