<!-- Based on https://github.com/WestHealth/pyvis/blob/master/pyvis/templates/template.html -->
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vis-network@latest/styles/vis-network.css"
          type="text/css"/>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/vis-network@latest/dist/vis-network.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">


    <!-- <link rel="stylesheet" href="../node_modules/vis/dist/vis.min.css" type="text/css" />
    <script type="text/javascript" src="../node_modules/vis/dist/vis.js"> </script>-->

    <style type="text/css">
    #mynetwork {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border: none;
        position: absolute;
        float: left;
    }

    /* position absolute is important and the container has to be relative or absolute as well. */
    div.popup {
        position:absolute;
        top:0px;
        left:0px;
        display:none;
        background-color:#f5f4ed;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #808074;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
        padding: 5px;
        font-family: sans-serif;
    }

    /* hide the original tooltip */
    .vis-network-tooltip {
        display: none;
    }
    .vis-tooltip {
        display: none;
    }

    #warning-msg {
      position: fixed;
      background-color: #ffffff77;
      text-align: center;
      border-radius: 2px;
      z-index: 1;
      left: 50%;
      transform: translateX(-50%);
      top: 10px;
      font-family: sans-serif;
    }

    #legend {
        position: absolute;
        left: 20px;
        top: 20px;
        pointer-events: none;
        display: grid;
        grid-template-columns: auto auto;
        background-color: #ffffff88;
    }
    .legend-circle {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin-left: 7px;
        margin-top: 3px;
    }
    .legend-label {
        font-family: sans-serif;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    #collapsebutton {
        position: absolute;
        right: 20px;
        bottom: 20px;
        background-color: #eeeeee;
        border-radius: 3px;
        border: 1px solid black;
        padding: 5px;
    }

    body {
        margin: 0px;
    }

    </style>

</head>

<body>
<div id="mynetwork"></div>

{% if warning_msg %}
<div id="warning-msg">{{warning_msg}}</div><br>
{% endif %}
<div id="legend">
    {% for entry in legend %}
    <div class="legend-circle" style="background-color: {{entry['color']}};"></div>
    <div class="legend-label">{{entry['label']}}</div>
    {% endfor %}
</div>
<div id="collapsebutton" onclick="toggleCollapseAll()"><i class="fa-solid fa-minimize" title="Collapse All"></i></div>

<script type="text/javascript">

    // initialize global variables.
    var edges;
    var nodes;
    var network; 
    var container;
    var options, data;
    var mousePos;
    var cluster_data;
    var active_edges;
    var hidden_nodes;
    var hidden_edges;
    var active_edges_initial;
    var buttonCollapsed = false;

    function getNodeStyle(id, clustered) {
        return {id: id, borderWidth: clustered ? 3 : 1, shadow: clustered};
    }

    function cluster(node) {
        if (!(node in cluster_data) || cluster_data[node].collapsed) {
            return;
        }

        const c_edges = cluster_data[node].edges;
        for (const c_edge of c_edges) {
            if (!hidden_edges[c_edge.id]) {
                hidden_edges[c_edge.id] = true;
                active_edges[c_edge.from]--;
                active_edges[c_edge.to]--;
            }
        }
        const c_nodes = cluster_data[node].nodes;
        for (const c_node of c_nodes) {
            if (!hidden_nodes[c_node]) {
                cluster(c_node);
                if (active_edges[c_node] === 0) {
                    hidden_nodes[c_node] = true;
                }
            }
        }
        cluster_data[node].collapsed = true;
        nodes.updateOnly(getNodeStyle(node, true));
    }

    function uncluster(node) {
        if (!(node in cluster_data) || !cluster_data[node].collapsed) {
            return;
        }

        const c_edges = cluster_data[node].edges;
        for (const c_edge of c_edges) {
            if (hidden_edges[c_edge.id]) {
                hidden_edges[c_edge.id] = false;
                active_edges[c_edge.from]++;
                active_edges[c_edge.to]++;
            }
        }
        const c_nodes = cluster_data[node].nodes;
        for (const c_node of c_nodes) {
            hidden_nodes[c_node] = false;
            uncluster(c_node);
        }
        cluster_data[node].collapsed = false;
        nodes.updateOnly(getNodeStyle(node, false));
    }

    function updateVisibility() {
        const nodeHideList = [];
        for (const node in hidden_nodes) {
            nodeHideList.push({id: node, hidden: hidden_nodes[node]});
        }
        nodes.updateOnly(nodeHideList);

        const edgeHideList = [];
        for (const edge in hidden_edges) {
            edgeHideList.push({id: edge, hidden: hidden_edges[edge]});
        }
        edges.updateOnly(edgeHideList);

        updateCollapseButton();
    }

    function toggleCollapseAll() {
        // For better performance, we iteratively collapse/expand each node manually,
        // rather than calling cluster() or uncluster() and using recursion
        if (buttonCollapsed) {
            const wasClusterNodes = [];
            for (const node in cluster_data) {
                cluster_data[node].collapsed = false;
                if (!hidden_nodes[node]) {
                    wasClusterNodes.push(getNodeStyle(node, false));
                }
            }
            nodes.updateOnly(wasClusterNodes);
            for (const node in hidden_nodes) {
                hidden_nodes[node] = false;
            }
            for (const edge in hidden_edges) {
                hidden_edges[edge] = false;
            }
            active_edges = shallow_copy(active_edges_initial);
        }
        else {
            for (const node in hidden_nodes) {
                hidden_nodes[node] = true;
                active_edges[node] = 0;
            }
            const clusterNodes = [];
            for (const node in cluster_data) {
                cluster_data[node].collapsed = true;
                if (cluster_data[node].cluster_inputs && cluster_data[node].cluster_outputs) {
                    clusterNodes.push(getNodeStyle(node, true));
                    hidden_nodes[node] = false;
                }
            }
            nodes.updateOnly(clusterNodes);
            for (const edge in hidden_edges) {
                hidden_edges[edge] = true;
            }
        }
        updateVisibility();
    }

    function updateCollapseButton() {
        let allCollapsed = true;
        for (const node in cluster_data) {
            if (!cluster_data[node].collapsed) {
                allCollapsed = false;
                break;
            }
        }
        if (allCollapsed) {
            buttonCollapsed = true;
            document.querySelector("#collapsebutton > i").className = "fa-solid fa-maximize";
            document.querySelector("#collapsebutton").title = "Expand All";
        }
        else {
            buttonCollapsed = false;
            document.querySelector("#collapsebutton > i").className = "fa-solid fa-minimize";
            document.querySelector("#collapsebutton").title = "Collapse All";
        }
    }

    function shallow_copy(o) {
        return Object.assign({}, o);
    }

    // This method is responsible for drawing the graph, returns the drawn network
    function drawGraph(solver) {
        var container = document.getElementById("mynetwork");

        const nodeslist = {{nodes|tojson}};
        const edgeslist = {{edges|tojson}};
        cluster_data = {{cluster_data|tojson}};
        active_edges = {{active_edges|tojson}};
        active_edges_initial = shallow_copy(active_edges);

        nodes = new vis.DataSet(nodeslist);
        edges = new vis.DataSet(edgeslist);

        hidden_nodes = {};
        for (const node of nodeslist) {
            hidden_nodes[node.id] = false;
        }
        hidden_edges = {};
        for (const edge of edgeslist) {
            hidden_edges[edge.id] = false;
        }

        data = {nodes: nodes, edges: edges};

        var options = {
            "configure": {
                "enabled": false
            },
            "edges": {
                "color": {
                    "inherit": true
                },
                "smooth": {
                    "enabled": true,
                    "type": "dynamic"
                },
                "hoverWidth": function (width) {
                    return width * 1.2;
                }
            },
            "nodes": {
                "chosen": {
                    "node": function (values, id, selected, hovering) {
                        values.size *= 2;
                    }
                }
            },
            "interaction": {
                "dragNodes": true,
                "hideEdgesOnDrag": nodes.length > 50,
                "hideNodesOnDrag": false,
                "hover": true
            },
            "physics": {
                "solver": solver,
                "enabled": true,
                "stabilization": {
                    "enabled": true,
                    "fit": true,
                    "iterations": 1000,
                    "onlyDynamicEdges": false,
                    "updateInterval": 50
                }
            }
        };

        const layers = {{layers|tojson}};
        if (layers) {
            options["nodes"]["fixed"] = {
                "x": true
            };
            options["edges"]["smooth"] = {
                "type": "cubicBezier",
                "forceDirection": "horizontal",
                "roundness": 0.8
            };
            options["physics"] = {
                "enabled": false
            };
        }

        network = new vis.Network(container, data, options);

        var popup = document.createElement("div");
        popup.className = "popup";
        popupTimeout = null;
        popup.addEventListener("mouseover", function () {
            if (popupTimeout !== null) {
                clearTimeout(popupTimeout);
                popupTimeout = null;
            }
        });
        popup.addEventListener("mouseout", function () {
            if (popupTimeout === null) {
                hidePopup();
            }
        });
        container.appendChild(popup);

        network.on("showPopup", function (params) {
            showPopup(params);
        });

        network.on("hidePopup", function (params) {
            hidePopup();
        });

        function hidePopup() {
            popupTimeout = setTimeout(function () { popup.style.display = "none"; }, 500);
        }

        function showPopup(nodeId) {
            var nodeData = nodes.get(nodeId);
            if (nodeData) {
                popup.innerHTML = nodeData.title;
            }
            else {
                var edgeData = edges.get(nodeId);
                popup.innerHTML = edgeData.title;
            }

            var posDOM = mousePos;
            // Give it an offset
            posDOM.x += 10;
            posDOM.y -= 20;

            // show and place the tooltip.
            popup.style.display = "block";
            popup.style.top = posDOM.y + "px";
            popup.style.left = posDOM.x + "px";
        }

        network.on("selectNode", function (params) {
            if (params.nodes.length == 1) {
                const node = params.nodes[0];
                if (node in cluster_data) {
                    if (cluster_data[node].collapsed) {
                        uncluster(node);
                    }
                    else {
                        cluster(node);
                    }
                }
                network.selectNodes([]);
                updateVisibility();
            }
        });

        network.on("release", function (params) {
            network.selectNodes([]);
        });

        return network;
    }

    drawGraph("barnesHut");

    function getMousePos(canvas, evt) {
        var rect = canvas.getBoundingClientRect();
        return {
            x: evt.clientX - rect.left,
            y: evt.clientY - rect.top
        };
    }
  
    var canvas = document.querySelector("canvas");
    canvas.addEventListener("mousemove", function(evt) {
        mousePos = getMousePos(canvas, evt);
    }, false);

</script>
</body>
</html>