{% extends "base.html" %}
{% block title %}
    {% if selected %}
        {{ caption | title }} -
    {% endif %}
    Neuropil Explorer
{% endblock title %}

{% macro card(hemisphere) %}
    <div class="card flex-fill border-0">
        <div class="card-body border-0">
            <h5 class="card-title">{{ hemisphere|capitalize }}</h5>
            <ul>
                {% for category in REGIONS_JSON[hemisphere] %}
                    <li>
                        <a href="/app/neuropils?selected={{ category['regions'] | map(attribute='id') | list | join(',') }}">
                            {{ category["name"] | title }}
                        </a>
                    </li>
                    <ul>
                        {% for region in category["regions"] %}
                            <li><small>

                            
                            {% if region["id"] in selected.split(',') and not landing %}
                                <a title="Remove from current view" href="/app/neuropils?selected={{selected.replace(region['id'], '')}}">
                                    <i class="fa-solid fa-circle-minus"></i>
                                </a>
                            {%  elif not landing %} 
                                <a title="Add to current view" href="/app/neuropils?selected={{selected}},{{ region["id"] }}">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </a>
                            {% endif %}
                                <a {% if not landing and selected and region['id'] in selected.split(',') %}
                                    style="padding:1px; border-radius:5px; background-color:#C5FCB8"
                                {% endif %}
                                    href="/app/neuropils?selected={{ region["id"] }}"

                                >
                                    {{ region['id'] }} - {{ region["description"] }}
                                </a>
                            </small></li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endmacro %}

{% set this_or_these %}
{% if selected %}
    {% if ',' in selected %}
        these regions
    {% else %}
        this region
    {% endif %}
{% endif %}
{% endset %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col" style="padding: 0px;">
                <div class="card border-0">
                    <div id='ngl' class="card-body d-flex flex-column"
                         style="resize: vertical; overflow: hidden">

                        <iframe style="height: 100%"
                                id="neuroglancer" title="neuroglancer"
                                loading="lazy"
                                src="/app/flywire_neuropil_url?selected={{ selected }}"></iframe>

                        <div class="d-inline-flex justify-content-center">
                            <h6 style="color: green;">{{ caption | title }}</h6>
                        </div>
                        {% if not landing %}
                            <div class="d-inline-flex justify-content-center">
                                <a class="btn-sm btn-outline-primary m-1"
                                   href="/app/search?filter_string=output_neuropil+%7Bin%7D+{{ selected }}">
                                    <i class="fa-solid fa-list"></i> Neurons with outputs in {{ this_or_these }}
                                </a>
                                <a class="btn-sm btn-outline-primary m-1"
                                   href="/app/search?filter_string=input_neuropil+%7Bin%7D+{{ selected }}">
                                    <i class="fa-solid fa-list"></i> Neurons with inputs in {{ this_or_these }}
                                </a>
                                <a class="btn-sm btn-outline-primary m-1"
                                   href="/app/stats?filter_string=input_neuropil+%7Bin%7D+{{ selected }}">
                                    <i class="fa-solid fa-chart-pie"></i> Stats for neurons with outputs
                                    in {{ this_or_these }}
                                </a>
                                <a class="btn-sm btn-outline-primary m-1"
                                   href="/app/stats?filter_string=input_neuropil+%7Bin%7D+{{ selected }}">
                                    <i class="fa-solid fa-chart-pie"></i> Stats for neurons with inputs
                                    in {{ this_or_these }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex flex-inline justify-content-center">
            {{ card("Left") }}
            {{ card("Center") }}
            {{ card("Right") }}
        </div>
    </div>

    <script>
        const ngl = document.getElementById('ngl');
        ngl.style.height = localStorage.getItem('preferredHeight') || '500px';

        const myObserver = new ResizeObserver(entries => {
            entries.forEach(entry => {
                localStorage.setItem('preferredHeight', entry.target.style.height);
            });
        });
        myObserver.observe(ngl);
    </script>
{% endblock content %}
