{% extends "base.html" %}
{% block title %}
    {% if selected %}
        {{ caption | title }} -
    {% endif %}
    Neuropil Explorer
{% endblock title %}

{% macro card(hemisphere) %}
    <div style="width:400px" class="card">
        <div class="card-body">
            <h5 class="card-title">{{ hemisphere|capitalize }}</h5>
            <ul>
                {% for category in REGIONS_JSON[hemisphere] %}
                    <li>
                        <a href="/app/neuropils?selected={{ category['regions'] | map(attribute='id') | list | join(',') }}">
                            {{ category["name"] | title }}
                        </a>
                    </li>
                    <ul>
                        {% for region in category["regions"] %}
                            <li>
                                <a {% if region['id'] == selected %}
                                    style="padding:1px; border-radius:5px; background-color:#C5FCB8"
                                {% else %}
                                    href="/app/neuropils?selected={{ region["id"] }}"
                                {% endif %}
                                >
                                    {{ region['id'] }} - {{ region["description"] }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endmacro %}

{% set this_or_these %}
{% if selected %}
    {% if ',' in selected %}
        these regions
    {% else %}
        this region
    {% endif %}
{% endif %}
{% endset %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body d-flex flex-column">
                        <h6 style="max-width: 500px">{{ caption | title }}</h6>
                        <iframe
                                style="min-height: 500px"
                                id="neuroglancer" title="neuroglancer"
                                loading="lazy"
                                src="/app/flywire_neuropil_url?selected={{ selected }}"></iframe>
                        {% if not landing %}
                            <div class="d-inline-flex justify-content-center">
                                <a class="btn-sm btn-primary m-1"
                                   href="/app/search?filter_string=output_neuropil+%7Bin%7D+{{ selected }}">
                                    🔎 Search for neurons with outputs in {{ this_or_these }}
                                </a>
                                <a class="btn-sm btn-primary m-1"
                                   href="/app/search?filter_string=input_neuropil+%7Bin%7D+{{ selected }}">
                                    🔎 Search for neurons with inputs in {{ this_or_these }}
                                </a>
                                <a class="btn-sm btn-primary m-1"
                                   href="/app/stats?filter_string=input_neuropil+%7Bin%7D+{{ selected }}">
                                    📊 Show stats for neurons with outputs in {{ this_or_these }}
                                </a>
                                <a class="btn-sm btn-primary m-1"
                                   href="/app/stats?filter_string=input_neuropil+%7Bin%7D+{{ selected }}">
                                    📊 Show stats for neurons with inputs in {{ this_or_these }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            {{ card("Left") }}
            {{ card("Center") }}
            {{ card("Right") }}
        </div>
    </div>

{% endblock content %}
