{% extends "base.html" %}

{% block title %}
Optic Lobe Catalog
{% endblock title %}

{% block content %}
<h4 style="color: teal; margin: 20px;">Catalog of Optic Lobe Neuron Types</h4>

<div id="accordion">
    <div class="card" style="padding: 20px;">
        {% for c, md in meta_data.items() %}
            <h4 style="color: teal">{{c}}</h4>
            {% for mdi in md %}
                <li>{{mdi|safe}}</li>
            {% endfor %}
            <br>
        {% endfor %}
    </div>
    {% for mega_type, types_list in types_data.items() %}
    {% set mt_id = mega_type.replace(' ', '_') %}
    <div class="card">
        <div class="card-header" id="heading_{{mt_id}}">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_{{mt_id}}" aria-expanded="true"
                        aria-controls="collapse_{{mt_id}}">
                    {{mega_type|safe}}
                </button>
            </h5>
        </div>
        <div id="collapse_{{mt_id}}" class="collapse show" aria-labelledby="heading_{{mt_id}}" data-parent="#accordion">
            <div class="card-body">
                <ul>
                    {% for t in types_list %}
                    <li>{{t.name|safe}}</li>
                    <ul>
                        {% if t.olr_count %}
                            <li><a href="{{t.olr_search_url}}" target="_blank">{{t.olr_count}} cells in right optic lobe</a>
                                &nbsp;| &nbsp;
                                <a href="{{t.olr_ngl_url}}" target="_blank">see 3D view</a>
                            </li>
                        {% else %}
                            <li style="color:grey">No matches in the right optic lobe</li>
                        {% endif %}
                        {% if t.predicted_olr_count %}
                            <li><a style="color: teal" href="{{t.predicted_olr_search_url}}" target="_blank">{{t.predicted_olr_count}} unknown cells <b>with this type predicted</b></a>
                                &nbsp;| &nbsp;
                                <a style="color: teal" href="{{t.predicted_olr_ngl_url}}" target="_blank">see 3D view</a>
                            </li>
                        {% endif %}
                        {% if t.non_olr_count %}
                            <li><a style="color: pink" href="{{t.non_olr_search_url}}" target="_blank">{{t.non_olr_count}} cells <b>outside right optic lobe</b></a>
                                &nbsp;| &nbsp;
                                <a style="color: pink" href="{{t.non_olr_ngl_url}}" target="_blank">see 3D view</a>
                            </li>
                        {% endif %}
                        {% if t.predicate %}
                        <li>
                            <span style="color: magenta">Connectivity predicates</span><br>
                            <ul>
                                <li> input types: <b>{{t.predicate_input_types}}</b></li>
                                <li> output types <b>{{t.predicate_output_types}}</b></li>
                                <li>
                                    precision <b>{{t.predicate_precision}}</b>,
                                    recall <b>{{t.predicate_recall}}</b>,
                                    f_score <b>{{t.predicate_f_score}}</b>
                                </li>
                                <li>
                                    <a href="{{url_for('app.custom_cell_lists', filter_string='type_predicate_true_positives:' + t.name)}}" target="_blank">{{t.predicate_true_positives_count}} true pos.</a>
                                    | <a href="{{url_for('app.custom_cell_lists', filter_string='type_predicate_false_positives:' + t.name)}}" target="_blank">{{t.predicate_false_positives_count}} false pos.</a>
                                    | <a href="{{url_for('app.custom_cell_lists', filter_string='type_predicate_false_negatives:' + t.name)}}" target="_blank">{{t.predicate_false_negatives_count}} false neg.</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}

                    </ul>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
