{% extends "base.html" %}
{% block title %} Optic Lobe Tagging {% endblock title %}
{% block content %}

<div style="margin: 20px;">
  <h4 style="color: purple">Optic Lobe Tagging Dashboard</h4>
    The FlyWire connectome contains ~<b>{{total_goal_count}}</b> uni-columnar cells in the optic lobes
    (cells that appear once in each column). As of now only <b>{{total_tagged_count}}</b> (<b>{{total_tagged_percent}}</b>)
    of them have been identified / labeled.
    <br>
    To accelerate the labeling process this page helps find unlabeled uni-columnar cells of each type, based on
    various similarity metrics to already labeled cells of same type.
    The column titled Candidates contains possible unlabeled neurons for each type in both left and right hemispheres.
    Each link will open a list view - you can then view cells individually or download IDs to work through them in chunks.
    <br>
    See more details in <a href="https://blog.flywire.ai/2023/05/10/optic-lobe-tag-rally/">this blog post</a>,
    that includes links for morphological descriptions of each cell type and other
    relevant resources and literature.
    See also the labeling leaderboard for the optic lobe <a href="{{leaderboard_url}}">here</a>.
</div>

<div style="padding: 1px;">
    <table class="table table-hover">
      <thead style="color: teal; font-weight: bold;">
        <td>
            Cell Type
        </td>
        <td>
            Shape
        </td>
        <td>
            Goal
        </td>
        <td>
            Tagged
        </td>
        <td>
            Candidates
        </td>
      </thead>
    <tbody>
        {% for olt_data in ol_type_data %}
        <tr>
            <td>
                {{olt_data.type_name}}
            </td>
            <td>
                <img src="{{olt_data.image_url|safe}}" width="200px" height="150px;" border="0px;">
            </td>
            <td>
                {{olt_data.goal_count_left}} left<br>{{olt_data.goal_count_right}} right
            </td>
            <td>
                <a href="{{olt_data.examples_url_left}}">L: {{olt_data.tagged_count_left}}</a><br><a href="{{olt_data.examples_url_right}}">R: {{olt_data.tagged_count_right}}</a>
            </td>
            <td>
                <a href="{{olt_data.candidates_url_left}}">L: {{olt_data.candidate_count_left}}</a><br><a href="{{olt_data.candidates_url_right}}">R: {{olt_data.candidate_count_right}}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

<div class="card bg-light mb-3" style="margin: 10px;" >
    <div class="card-header">
        Tools
    </div>
    <div class="card-body">
        <li>
            <a href="{{url_for('app.find_similar_cells')}}">Find Similar Cells</a>
        </li>
        <li>
            <a href="{{url_for('app.count_columnar_cells')}}">Count Columnar Cells</a>
        </li>
    </div>
</div>

{% endblock content %}