{% extends "base_barebones.html" %}

{% block base_barebones_content %}

<script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js">
</script>
<script type = "text/javascript" src = "https://www.google.com/jsapi">
</script>
<script type = "text/javascript">
   google.charts.load('current', {packages: ['sankey']});
</script>

<div id = "container" style="padding: 10px; width: 100%; height: 90vh;">
</div>
<form>
   <input type="hidden" id="source_cell_id" name="source_cell_id" value="{{source_cell_id}}"/>
   <input type="hidden" id="target_cell_id" name="target_cell_id" value="{{target_cell_id}}"/>
   <h6 style="text-align:center;">{{caption|safe}}
      <input type="number" style="width: 50px;" id="min_syn_count" name="min_syn_count" value="{{min_syn_count}}" onchange="loading(); this.form.submit();">
   {% if list_url %}
   <br><button type="button" class="btn btn-outline-primary" style="text-align:center;"> <a href="{{list_url}}"> See all cells along these pathways as a list</a></button>
   {% endif %}
   </h6>
</form>

<script language = "JavaScript">
   function drawChart() {
      // Define the chart to be drawn.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'From');
      data.addColumn('string', 'To');
      data.addColumn('number', 'Weight');

      data.addRows([
         {% for dr in data_rows or [] %}
            ['{{dr[0]}}', '{{dr[1]}}', {{dr[2]}}],
         {% endfor %}
      ]);

      // Set chart options
      var options = {
         width: '95%',
         height: '95%',
         sankey: { node: {
             label: {
               fontName: 'Times-Roman',
               fontSize: 10,
               color: '#000',
               bold: false,
               italic: false
             },
             interactivity: true, // Allows you to select nodes.
             labelPadding: 5,     // Horizontal distance between the label and the node.
             nodePadding: 10,     // Vertical distance between nodes.
             width: 5,            // Thickness of the node.
             colors: [
               '#a6cee3',         // Custom color palette for sankey nodes.
               '#1f78b4',         // Nodes will cycle through this palette
               '#b2df8a',         // giving each node its own color.
               '#33a02c'
             ]
            }
         },
      };

      // Instantiate and draw the chart.
      var chart = new google.visualization.Sankey(document.getElementById('container'));
      chart.draw(data, options);
   }
   google.charts.setOnLoadCallback(drawChart);
</script>

{% endblock base_barebones_content %}