{% extends "base.html" %}
{% block title %} Search {% endblock title %}
{% block content %}

<nav class="navbar navbar-light bg-light">
    <form class="form-inline">

        <input class="form-control mr-sm-2" style="width: 50vw;" autocomplete="off" autofocus type="search"
               id="filter_string" name="filter_string" placeholder="search anything" aria-label="Filter"
               value="{{filter_string}}">
        <button class="btn btn btn-primary my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i>
        </button>

        <button type="button" class="btn btn-outline-primary" style="margin-left: 5px;" title="Settings"
                data-toggle="modal" data-target="#filterModal"><i class="fa-solid fa-sliders"></i></button>
        <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="color:blue;" id="filterModalLabel">Settings</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label style="margin: 20px;">Match</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="case_sensitive"
                                       name="case_sensitive" value="1" {{ 'checked' if case_sensitive==1}}>
                                <label class="form-check-label" for="case_sensitive">Case sensitive</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="whole_word" name="whole_word"
                                       value="1" {{ 'checked' if whole_word==1}}>
                                <label class="form-check-label" for="whole_word">Whole word</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label style="margin: 20px;">Data version</label>
                            <select style="margin: 20px;" class="form-select form-select-lg mb-3"
                                    aria-label="Data Version" name="data_version">
                                {% for v in data_versions %}
                                <option value="{{v}}" {{
                                'selected' if data_version==v}}>{{v}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary">Reset</button>
                        <button type="button" class="btn btn-primary" onclick="this.form.submit()">Apply</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            function chooseOperator(elem) {
                //TODO make default selection work
                console.log("Chose", elem, elem.value);
                const searchTermElem = elem.parentElement.parentElement;
                const attributeElem = searchTermElem.querySelector(".search-attribute");
                const regionElem = searchTermElem.querySelector(".search-region");
                const valueElem = searchTermElem.querySelector(".search-value");
                //TODO clear selections/values?
                const valueLabel = valueElem.querySelector("label");
                attributeElem.setAttribute("hidden", true);
                regionElem.setAttribute("hidden", true);
                valueElem.setAttribute("hidden", true);
                const operator_types = {{advanced_search_data.operator_types|tojson}};
                const operator_type = operator_types[elem.value];
                if (operator_type == "binary_attribute") {
                    //move attribute before operator
                    searchTermElem.insertBefore(attributeElem, regionElem);
                    attributeElem.removeAttribute("hidden");
                    valueLabel.innerHTML = "Value";
                    valueElem.removeAttribute("hidden");
                }
                else if (operator_type == "binary_region") {
                    regionElem.removeAttribute("hidden");
                    valueLabel.innerHTML = "Cell ID";
                    valueElem.removeAttribute("hidden");
                }
                else if (operator_type == "unary_attribute") {
                    //move attribute after operator
                    searchTermElem.insertBefore(attributeElem, valueElem);
                    attributeElem.removeAttribute("hidden");
                }
                else if (operator_type == "unary_stream") {
                    valueLabel.innerHTML = "Cell ID";
                    valueElem.removeAttribute("hidden");
                }
                else {
                    console.log("Unknown operator type", operator_type);
                }
            }

            function addSearchTerm(buttonElem) {
                const searchTermTemplate = document.querySelector(".search-term-template");
                const newTerm = searchTermTemplate.cloneNode(true);
                newTerm.classList.remove("search-term-template");
                newTerm.classList.add("search-term");
                newTerm.removeAttribute("hidden");
                searchTermTemplate.parentElement.insertBefore(newTerm, buttonElem);
                //TODO display "--AND--" divider between them if multiple

                const removeButtons = document.querySelectorAll(".search-term > .search-remove-term");
                if (removeButtons.length > 1) {
                    for (const removeButton of removeButtons) {
                        removeButton.removeAttribute("hidden");
                    }
                }

                chooseOperator(newTerm.querySelector(".search-operator > select"));
            }

            function removeSearchTerm(buttonElem) {
                const searchTermElem = buttonElem.parentElement.parentElement;
                searchTermElem.remove();
                const removeButtons = document.querySelectorAll(".search-term > .search-remove-term");
                if (removeButtons.length === 1) {
                    removeButtons[0].setAttribute("hidden", true);
                }
            }

            function doAdvancedSearch() {
                let searchString = "";
                const searchTerms = document.querySelectorAll(".search-term");
                for (const searchElem of searchTerms) {
                    console.log(searchElem);
                    if (searchString !== "") {
                        searchString += " && ";
                    }
                    const operator = searchElem.querySelector(".search-operator > select").value;
                    const attribute = searchElem.querySelector(".search-attribute > select").value;
                    const region = searchElem.querySelector(".search-region > select").value;
                    const valueText = searchElem.querySelector(".search-value > input").value;
                    const operator_types = {{advanced_search_data.operator_types|tojson}};
                    const operator_type = operator_types[operator];
                    if (operator_type == "binary_attribute") {
                        searchString += attribute + " " + operator + " " + valueText;
                    }
                    else if (operator_type == "binary_region") {
                        searchString += region + " " + operator + " " + valueText;
                    }
                    else if (operator_type == "unary_attribute") {
                        searchString += operator + " " + attribute;
                    }
                    else if (operator_type == "unary_stream") {
                        searchString += operator + " " + valueText;
                    }
                    else {
                        console.log("Unknown operator type", operator_type);
                    }
                }
                const filterBox = document.getElementById("filter_string");
                filterBox.value = searchString;
                filterBox.form.submit();
            }

            function addStarterButton() {
                const searchTerms = document.querySelectorAll(".search-term");
                if (searchTerms.length === 0) {
                    addSearchTerm(document.querySelector("#addTermButton"));
                }
            }
        </script>
        <button type="button" class="btn btn-outline-primary" style="margin-left: 5px;" title="Advanced Search"
                data-toggle="modal" data-target="#advancedModal" onclick="addStarterButton();"><i class="fa-solid fa-magnifying-glass-chart"></i></button>
        <div class="modal fade" id="advancedModal" tabindex="-1" role="dialog" aria-labelledby="advancedModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="color:blue;" id="advancedModalLabel">Advanced Search</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="search-term-template" hidden>
                            <div class="form-group search-attribute" hidden>
                                <label style="margin: 20px;">Attribute</label>
                                <select style="margin: 20px;" class="form-select form-select-lg mb-3"
                                        aria-label="Attribute" name="attribute">
                                    {% for a in advanced_search_data.attributes %}
                                    <option value="{{a}}">{{a}} {{advanced_search_data.attributes[a][2]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group search-region" hidden>
                                <label style="margin: 20px;">Region</label>
                                <select style="margin: 20px;" class="form-select form-select-lg mb-3"
                                        aria-label="region" name="region">
                                    {% for r in advanced_search_data.regions %}
                                    <option value="{{r}}">{{r}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group search-operator">
                                <label style="margin: 20px;">Operator</label>
                                <select style="margin: 20px;" class="form-select form-select-lg mb-3"
                                        aria-label="Operator" name="operator" onChange="chooseOperator(this);">
                                    {% for op in advanced_search_data.operators %}
                                    <option value="{{op}}">{{op}} {{advanced_search_data.operator_metadata[op]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group search-value" hidden>
                                <label style="margin: 20px;">Value</label>
                                <input class="form-control" type="text" name="value">
                            </div>
                            <div class="search-remove-term" hidden>
                                <button type="button" class="btn btn-danger"
                                        onclick="removeSearchTerm(this);">Delete Search Term</button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary"
                                onclick="addSearchTerm(this);" id="addTermButton">Add Search Term</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="doAdvancedSearch();">Search</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</nav>

{% if filter_string %}
<div class="card bg-light mb-3">
<span style="margin-left: 15px; margin-top: 5px; color: black; font-size: 12px;">{{"{:,}".format(num_items) + (" matches, further analysis:" if num_items else " matches")}}</span>
{% if num_items %}
<div class="row flex-row flex-nowrap" style="overflow-x: auto; padding-left: 20px;">
    <a class="btn btn-link"
       href="{{url_for('app.search_results_flywire_url', filter_string=filter_string, case_sensitive=case_sensitive, whole_word=whole_word, data_version=data_version)}}"
       target="_blank"><i class="fa-solid fa-cube"></i> &nbsp; 3D view</a>
    <a class="btn btn-link"
       href="{{url_for('app.stats', filter_string=filter_string, case_sensitive=case_sensitive, whole_word=whole_word, data_version=data_version)}}">
        <i class="fa-solid fa-chart-pie"></i> &nbsp; Stats
    </a>
    {% if root_ids_str %}
    <a class="btn btn-link" onclick="loading();"
       href="{{url_for('app.nblast', cell_names_or_ids=root_ids_str)}}">
        <i class="fa-solid fa-table-cells"></i> &nbsp; NBLAST
    </a>
    <a class="btn btn-link" onclick="loading();"
       href="{{url_for('app.path_length', cell_names_or_ids=root_ids_str)}}">
        <i class="fa-solid fa-route"></i> &nbsp; Path lengths
    </a>
    <a class="btn btn-link" onclick="copyRootIdsToClipboard();">
        <i class="fa-regular fa-clipboard"></i> &nbsp; Copy IDs
    </a>
    <script type="text/javascript">
      function copyRootIdsToClipboard() {
        navigator.clipboard.writeText("{{root_ids_str}}");
        alert("{{num_items}} IDs copied to clipboard");
      }
    </script>
    <a class="btn btn-link" onclick="loading();"
       href="{{url_for('app.connectivity', cell_names_or_ids=root_ids_str)}}" >
        <i class="fa-solid fa-circle-nodes"></i> &nbsp; Connectivity
    </a>

    <a class="btn btn-link"
       href="{{url_for('app.connectivity', download=1, cell_names_or_ids=root_ids_str)}}" target="_blank">
        <i class="fa-solid fa-download"></i> &nbsp; Synapse table
    </a>
    <a class="btn btn-link"
       href="{{url_for('app.download_search_results', filter_string=filter_string, case_sensitive=case_sensitive, whole_word=whole_word, data_version=data_version)}}">
        <i class="fa-solid fa-download"></i> &nbsp; CSV </a>
    {% else %}
    <a class="btn btn-link"
       href="{{url_for('app.root_ids_from_search_results', filter_string=filter_string, case_sensitive=case_sensitive, whole_word=whole_word, data_version=data_version)}}">
        <i class="fa-solid fa-download"></i> &nbsp; Cell IDs </a>
    {% endif %}
</div>
{% endif %}
</div>
{% endif %}

{% if hint %}
<button class="btn btn-btn-link" style="color: blue;" type="button"
        onclick="searchbox = document.getElementById('filter_string'); searchbox.value = '{{hint}}'; searchbox.form.submit();">
    Show results for '<b>{{hint}}</b>' instead?
</button>
{% endif %}


{% if num_items %}

<div style="overflow-x:auto; margin-top: 20px;">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Shape</th>
            <th scope="col">Cell Name/ID</th>
            <th scope="col">Class</th>
            <th scope="col">Annotations</th>
            {% if extra_data %}
                <th scope="col" title="{{extra_data.title}}">{{extra_data.column_name}}</th>
            {% endif %}
            <th scope="col" title="Neurotransmitter Type & Confidence Score">NT</th>
            <th scope="col" title="Input/Output Hemisphere">In/Out</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for neuron in display_data %}
        <tr>
            <td style="padding: 0px; margin: 0px;"><a
                    href="{{url_for('app.cell_details', root_id=neuron.root_id)}}"><img
                    src="{{skeleton_thumbnail_urls.get(neuron.root_id)}}"
                    width="100px" height="75px;" border="1px;"></a></td>
            <td><a href="{{url_for('app.cell_details', root_id=neuron.root_id)}}">{{neuron.name}}</a><br><small>{{neuron.root_id}}</small>
            </td>
            <td style="color:#3A3AAA;">{{neuron.class}}</td>
            <td style="color:#3A3A3A;">{{neuron.annotations|safe}}</td>
            {% if extra_data %}
                <td style="color:black;">{{extra_data.values_dict.get(neuron.root_id)}}</td>
            {% endif %}
            <td style="color:#3A3AAA;">{{neuron.nt_type}}
                {% if neuron.nt_type_score %}
                <br><small style="color: {{'green' if neuron.nt_type_score > 0.65 else ('orange' if neuron.nt_type_score > 0.45 else 'red')}}">{{neuron.nt_type_score}}</small>
                {% endif %}
            </td>
            <td style="color:#3A3AAA;">{{neuron.hemisphere_fingerprint|safe}}</td>
            <td><a class="btn btn-outline-primary" href="{{url_for('app.flywire_url', root_ids=[neuron.root_id])}}"
                   target="_blank" role="button" title="Render in 3D"><i class="fa-solid fa-cube"></i></a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<ul class="pagination my-2" style="margin-left: 10px; margin-bottom: 10px;">
    {% for page_info in pagination_info %}
    <li class="page-item {{page_info.status}}">
        <a class="page-link"
           href="{{url_for('app.search', page_number=page_info.number, filter_string=filter_string, case_sensitive=case_sensitive, whole_word=whole_word, data_version=data_version)}}">{{page_info.label}}</a>
    </li>
    {% endfor %}
</ul>

{% else %}
<div class="card" style="margin: 15px;">
    <div class="card-header" style="color: purple;">
        Tips for working with Codex
    </div>
    <div class="card-body">
        <ul>
            <li>Cell IDs or annotations that were created/modified after the current data snapshot creation will not be
                searchable until the next snapshot is released in Codex (more info on data snapshots in the <a href="{{url_for('base.faq')}}">FAQ</a> page).</li>
            <li>If you are searching by brain regions/neuropils, neurotransmitter types or other attributes of cells you might
            want to use the structured search queries (refer to the <a href="{{url_for('base.faq')}}">FAQ</a> page).</li>
            <li>If you have suggestions on how to improve search, or index additional data, please leave a note in the
                Feedback section of the <a href="{{url_for('base.about')}}">About</a> page.</li>
        </ul>
    </div>
</div>

{% endif %}

{% endblock content %}