{% extends "base.html" %}
{% block title %} Search {% endblock title %}
{% block content %}

<nav class="navbar navbar-light bg-light">
    <form class="form-inline">

        <input class="form-control mr-sm-2" style="width: 50vw;" autocomplete="off" autofocus type="search"
               id="filter_string" name="filter_string" placeholder="search anything" aria-label="Filter"
               value="{{filter_string}}">
        <button class="btn btn btn-primary my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i>
        </button>
        {% include "advanced_search.html" %}
        {% include "search_settings.html" %}

    </form>
</nav>

{% include "results_actions.html" %}

<script type="text/javascript">
    function apply_filter(fltr) {
        input_box = document.getElementById("filter_string");
        old_val = input_box.value;
        if (old_val) {
            input_box.value = old_val + ' && ' + fltr;
        } else {
            input_box.value = fltr;
        }
        loading();
        input_box.form.submit();
        input_box.value = old_val;
    }
</script>


{% if num_items %}
<div style="overflow-x:auto; margin-top: 20px;">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Shape</th>
            <th scope="col">Cell Name/ID</th>
            <th scope="col">Annotations</th>
            {% if extra_data %}
                <th scope="col" title="{{extra_data.title}}">{{extra_data.column_name}}</th>
            {% endif %}
            <th scope="col" title="Neurotransmitter Type & Confidence Score">NT</th>
            <th scope="col" title="Upstream/Downstream partners and synapse hemispheres">In/Out</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for neuron in display_data %}
        <tr>
            <td style="padding: 0px; margin: 0px;" ><a
                    href="{{url_for('app.cell_details', root_id=neuron.root_id)}}" onclick="loading();"><img
                    src="{{skeleton_thumbnail_urls.get(neuron.root_id)}}"
                    width="100px" height="75px;" border="1px;"></a></td>
            <td><a href="{{url_for('app.cell_details', root_id=neuron.root_id)}}" onclick="loading();">{{neuron.name}}</a><br><small>{{neuron.root_id}}</small>
            </td>
            <td style="color:#3A3A3A;">
                {% if neuron.classes %}
                    <span style="color: teal">Classification</span>
                    {% for cl in neuron.classes %}
                    <div>
                        <small><b>&#x2022;</b> &nbsp;{{cl|safe}}</small>
                        {% if 'class' in multi_val_attrs %}
                        <span class="td_filter_buttons">
                            <button title="Exclude {{cl}}" class="btn btn-sm btn-link my-2 my-sm-0" onclick="apply_filter('class != {{cl}}');" style="padding: 0px; font-size: 10px; color: red;"><i class="fa-solid fa-circle-minus"></i></button>
                            <button title="Show only {{cl}}" class="btn btn-sm btn-link my-2 my-sm-0" onclick="apply_filter('class == {{cl}}');" style="padding: 0px; font-size: 10px; color: green;"><i class="fa-solid fa-circle-plus"></i></button>
                        </span>
                        <span class="td_filter_buttons_caption">
                            filter out/in
                        </span>
                        {% endif %}
                    </div>
                    {% endfor %}
                {% endif %}

                {% if neuron.tag %}
                <span style="color: teal">Labels</span>
                {% for tg in neuron.tag %}
                <div>
                    <small><b>&#x2022;</b> &nbsp;{{highlighted_tags[tg]|safe}}</small>
                    <span class="td_filter_buttons">
                        <button title="Exclude {{tg}}" class="btn btn-sm btn-link my-2 my-sm-0" onclick="apply_filter('label != {{tg}}');" style="padding: 0px; font-size: 10px; color: red;"><i class="fa-solid fa-circle-minus"></i></button>
                        <button title="Show only {{tg}}" class="btn btn-sm btn-link my-2 my-sm-0" onclick="apply_filter('label == {{tg}}');" style="padding: 0px; font-size: 10px; color: green;"><i class="fa-solid fa-circle-plus"></i></button>
                    </span>
                    <span class="td_filter_buttons_caption">
                        filter out/in
                    </span>
                </div>
                {% endfor %}
                {% endif %}
            </td>
            {% if extra_data %}
                <td style="color:black;">{{extra_data.values_dict.get(neuron.root_id)}}</td>
            {% endif %}
            <td style="color:#3A3AAA;">{{neuron.nt_type}}
                {% if neuron.nt_type %}
                <br><small style="color: {{'green' if neuron.nt_type_score > 0.65 else ('orange' if neuron.nt_type_score > 0.45 else 'red')}}">{{neuron.nt_type_score}}</small>
                {% endif %}
                {% if neuron.nt_type and 'nt_type' in multi_val_attrs %}
                <br>
                <span class="td_filter_buttons">
                    <button title="Exclude {{neuron.nt_type}}" class="btn btn-sm btn-link my-2 my-sm-0" onclick="apply_filter('nt != {{neuron.nt_type}}');" style="padding: 0px; font-size: 10px; color: red;"><i class="fa-solid fa-circle-minus"></i></button>
                    <button title="Show only {{neuron.nt_type}}" class="btn btn-sm btn-link my-2 my-sm-0" onclick="apply_filter('nt == {{neuron.nt_type}}');" style="padding: 0px; font-size: 10px; color: green;"><i class="fa-solid fa-circle-plus"></i></button>
                </span>
                <span class="td_filter_buttons_caption">
                    filter out/in
                </span>
                {% endif %}
            </td>
            <td style="color:purple;"><small>{{neuron.input_cells}}:{{neuron.output_cells}}<br>{{neuron.hemisphere_fingerprint|safe}}</small></td>
            <td><a class="btn btn-outline-primary" href="{{url_for('app.flywire_url', root_ids=[neuron.root_id])}}"
                   target="_blank" role="button" title="Render in 3D"><i class="fa-solid fa-cube"></i></a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<ul class="pagination my-2" style="margin-left: 10px; margin-bottom: 10px;">
    {% for page_info in pagination_info %}
    <li class="page-item {{page_info.status}}">
        <a class="page-link"
           href="{{url_for('app.search', page_number=page_info.number, filter_string=filter_string, case_sensitive=case_sensitive, whole_word=whole_word, data_version=data_version)}}">{{page_info.label}}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock content %}