{% extends "base.html" %}
{% block title %} Search {% endblock %}
{% block content %}

  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">

      <input class="form-control mr-sm-2" style="width: 50vw;" autocomplete="off" autofocus type="search" id="filter_string" name="filter_string" placeholder="search anything" aria-label="Filter" value="{{filter_string}}">
      <button class="btn btn btn-primary my-2 my-sm-0" type="submit">&#128269;</button>

      {% if hint %}
        <button class="btn btn-btn-link" style="color: blue;" type="button" onclick="document.getElementById('filter_string').value = '{{hint}}'; this.form.submit();">Search for '<b>{{hint}}</b>'?</button>
      {% endif %}

      {% if num_items and filter_string %}
      <button type="button" class="btn btn-success" style="margin-left: 5px;" title="Analyze Matches" data-toggle="modal" data-target="#actionsModal" >&#128640;</button>
      <div class="modal fade" id="actionsModal" tabindex="-1" role="dialog" aria-labelledby="actionsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" style="color:blue;" id="actionsModalLabel">{{ "{:,}".format(num_items) }} matches</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <ul>
                  <li>
                    <a class="btn btn-link" href="{{url_for('stats', filter_string=filter_string, case_sensitive=case_sensitive, whole_word=whole_word, data_version=data_version)}}" >Show stats &#128202;</a>
                  </li>
                  <li>
                    <a class="btn btn-link" href="{{url_for('search_results_flywire_url', filter_string=filter_string, case_sensitive=case_sensitive, whole_word=whole_word, data_version=data_version)}}" target="_blank">View results in FlyWire &#10132;</a>
                  </li>
                  {% if root_ids_str %}
                  <li>
                    <a class="btn btn-link" href="{{url_for('nblast', root_ids=root_ids_str)}}" target="_blank">NBLAST scores &#128208;</a>
                  </li>
                  <li>
                    <a class="btn btn-link" href="{{url_for('path_length', root_ids=root_ids_str)}}" target="_blank">Pathway lengths &#128279;</a>
                  </li>
                  <li>
                    <a class="btn btn-link" onclick="copyRootIdsToClipboard();">Copy Cell IDs &#128203;</a>
                    <script type="text/javascript">
                      function copyRootIdsToClipboard() {
                        navigator.clipboard.writeText("{{root_ids_str}}");
                      }
                    </script>
                  </li>
                  <li>
                    <a class="btn btn-link" href="{{url_for('connections', download=1, root_ids=root_ids_str)}}" target="_blank">Download connections table &#8681;</a>
                  </li>
                  {% else %}
                  <li>
                    <a class="btn btn-link" href="{{url_for('root_ids_from_search_results', filter_string=filter_string, case_sensitive=case_sensitive, whole_word=whole_word, data_version=data_version)}}" target="_blank">Download Cell IDs &#128203;</a>
                  </li>
                  {% endif %}
                  <li>
                    <a class="btn btn-link" href="{{url_for('download_search_results', filter_string=filter_string, case_sensitive=case_sensitive, whole_word=whole_word, data_version=data_version)}}">Download results as CSV &#8681;</a>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <button type="button" class="btn btn-outline-primary" style="margin-left: 5px;" title="Settings" data-toggle="modal" data-target="#filterModal" >&#9881;</button>
      <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" style="color:blue;" id="filterModalLabel">Settings</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                  <label style="margin: 20px;">Match</label>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="case_sensitive" name="case_sensitive" value="1" {{ 'checked' if case_sensitive==1}}>
                    <label class="form-check-label" for="case_sensitive">Case sensitive</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="whole_word" name="whole_word" value="1" {{ 'checked' if whole_word==1}}>
                    <label class="form-check-label" for="whole_word">Whole word</label>
                  </div>
                </div>
                <div class="form-group">
                  <label style="margin: 20px;">Data version</label>
                  <select style="margin: 20px;" class="form-select form-select-lg mb-3" aria-label="Data Version" name="data_version">
                    {% for v in data_versions %}
                      <option value="{{v}}" {{ 'selected' if data_version==v}}>{{v}}</option>
                    {% endfor %}
                  </select>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary">Reset</button>
              <button type="button" class="btn btn-primary" onclick="this.form.submit()">Apply</button>
            </div>
          </div>
        </div>
      </div>

    </form>
  </nav>
  {% if filter_string %}
    <h6 style="margin-left: 15px; margin-top: 5px; color: grey; font-size: 11px;">{{"{:,}".format(num_items)}} matches</h6>
  {% endif %}


{% if num_items %}

<div style="overflow-x:auto;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Label(s)</th>
        <th scope="col">NT</th>
        <th scope="col">Class</th>
        <th scope="col">I/O Side</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for neuron in display_data %}
          <tr>
            <td style="padding: 0px; margin: 0px;"><a href="{{url_for('cell_details', root_id=neuron.root_id)}}" target="_blank"><img src="{{url_for('skeleton_thumbnail_url', root_id=neuron.root_id, log_request=0)}}" width="100px" height="75px;" border="1px;"></a></td>
            <td><a href="{{url_for('cell_details', root_id=neuron.root_id)}}" target="_blank">{{neuron.name}}</a></td>
            <td>{{neuron.annotations|safe}}</td>
            <td style="color:#664444;">{{neuron.nt_type}}</td>
            <td style="color:#AAAAAA;">{{neuron.class}}</td>
            <td style="color:#444466;">{{neuron.hemisphere_fingerprint|safe}}</td>
            <td><a class="btn btn-primary" href="{{url_for('flywire_url', root_id=neuron.root_id)}}" target="_blank" role="button" title="Open in FlyWire" >3D</a></td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<ul class="pagination my-2" style="margin-left: 10px; margin-bottom: 10px;" >
  {% for page_info in pagination_info %}
    <li class="page-item {{page_info.status}}">
      <a class="page-link" href="{{url_for('search', page_number=page_info.number, filter_string=filter_string, case_sensitive=case_sensitive, whole_word=whole_word, data_version=data_version)}}" >{{page_info.label}}</a>
    </li>
  {% endfor %}
</ul>

{% endif %}

{% endblock %}