{% extends "base.html" %}
{% block title %} Synapse Density {% endblock title %}
{% block content %}

<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <label >Group By</label>
        <select style="margin: 15px;" class="form-select form-select-lg mb-3"
                aria-label="Group Neurons By" name="group_by">
            {% for v in group_by_options %}
            <option value="{{v}}" {{'selected' if group_by==v}}>{{v}}</option>
            {% endfor %}
        </select>
        <button class="btn btn btn-link my-2 my-sm-0" type="submit" onclick="loading(event);">
            <i class="fa-solid fa-rotate"></i>
        </button>
    </form>
</nav>


<div style="overflow-x:auto;">
    <table class="table">
        <thead>
        <tr>
            {% for hv in table[0] %}
            <th scope="col">{{hv|safe}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in table[1:] %}
        <tr>
            {% for dv in row %}
            <td style="background: {{dv[1]}};">{{dv[0]|safe}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}