<div class="modal fade" id="synapsesModal" tabindex="-1" role="dialog" aria-labelledby="synapsesModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color:blue;" id="synapsesModalLabel">Connection and Synapse Counts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Connections</h5>
                Connections between proofread cells are directed and thresholded with 5+ synapses.
                <br><br>
                <h5>Synapses</h5>
                Synapse count refers to the number of synapses participating in connections as defined above.
                This is a small subset of all synapses in the FlyWire dataset, because most of them do not form a connection
                due to the 5+ synapse threshold per pair of cells. The total number of
                synapses in the FlyWire dataset is around 150 million.
            </div>
        </div>
    </div>
</div>
