<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('base.styles', filename='base.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Title -->
    <title>{% block title %}Codex{% endblock title %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico">

    {% if False %}
    {% include "metrics.html" %}
    {% endif %}

</head>
<body>

<div id="contentBody">
{% block base_barebones_content %} {% endblock base_barebones_content %}
</div>

<div id="loadingSpinner" hidden="hidden">
    <div class="d-flex justify-content-center" style="margin: 50px;">
        <div class="overlay">
          <div class="ball a"></div>
          <div class="ball b"></div>
          <div class="ball c"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
        function loading(evnt = false) {
            if (evnt && (evnt.ctrlKey || evnt.metaKey)) {
                clear_loading();
            } else {
                document.getElementById("contentBody").hidden='true';
                document.getElementById("loadingSpinner").hidden='';
                window.onunload = function(){
                    clear_loading();
                };
             }
        }
        function clear_loading() {
            document.getElementById("contentBody").hidden='';
            document.getElementById("loadingSpinner").hidden='true';
        }

</script>


<!-- Bootstrap Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
        integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
        crossorigin="anonymous"></script>
</body>

</html>