<button type="button" class="btn btn-outline-primary" style="margin-left: 5px;" title="Settings"
        data-toggle="modal" data-target="#settingsModal"><i class="fa-solid fa-sliders"></i></button>
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color:blue;" id="settingsModalLabel">Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Group by</label>
                    <select style="margin: 20px;" class="form-select form-select-lg mb-3"
                            aria-label="Group by" name="group_by">
                        {% for k, v in group_by_options.items() %}
                        <option value="{{k}}" {{
                        'selected' if group_by==k}}>{{v}}</option>
                        {% endfor %}
                    </select>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="show_regions" name="show_regions"
                               value="1" {{ 'checked' if show_regions==1}}>
                        <label class="form-check-label" for="show_regions">Show brain regions</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="include_partners" name="include_partners"
                               value="1" {{ 'checked' if include_partners==1}}>
                        <label class="form-check-label" for="include_partners">Include Partners</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="hide_weights" name="hide_weights"
                               value="1" {{ 'checked' if hide_weights==1}}>
                        <label class="form-check-label" for="hide_weights">Hide Edge Weights</label>
                    </div>
                </div>
                {% if max_cap > 1 %}
                <br>
                <div class="form-group" style="width: 100%;">
                    <label style="margin-right: 10px;" for="cap" id="cap_label" class="form-label">Top Connections</label>
                    <input style="margin-right: 10px; width: auto;" type="range" class="form-range" min="1" max="{{max_cap}}" id="cap" name="cap" value="{{cap}}" oninput="this.nextElementSibling.value = this.value">
                    <output>{{cap}}</output>
                </div>
                {% endif %}
                <div style="margin-top: 20px;" class="form-group">
                    <label>Data version</label>
                    <select style="margin: 20px;" class="form-select form-select-lg mb-3"
                            aria-label="Data Version" name="data_version">
                        {% for k, v in data_versions.items() %}
                        <option value="{{k}}" {{
                        'selected' if data_version==k}}>{{v}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">Reset</button>
                <button type="button" class="btn btn-primary" onclick="loading(event); this.form.submit()">Apply</button>
            </div>
        </div>
    </div>
</div>

