{% extends "base.html" %}
{% block title %} Distance Table {% endblock %}
{% block content %}

  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input class="form-control mr-sm-2" style="width: 50vw;" autocomplete="off" autofocus type="search" id="root_ids" name="root_ids" placeholder="enter 2 or more Cell IDs" aria-label="Cell IDs" value="{{root_ids}}">
      <button class="btn btn btn-primary my-2 my-sm-0" type="submit">&#128269;</button>
      <button type="button" class="btn btn-info" style="margin-left: 5px;" title="Info" data-toggle="modal" data-target="#infoModal">&#10068;</button>
      <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" style="color:blue;">{{info_title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {{info_text|safe}}
            </div>
          </div>
        </div>
      </div>

    </form>
  </nav>

{% if distance_table %}
  <div style="overflow-x:auto;">
  <table class="table">
    <thead>
      <tr>
        {% for hv in distance_table[0] %}
          <th scope="col">{{hv|safe}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in distance_table[1:] %}
          <tr>
            {% for dv in row %}
              <td>{{dv|safe}}</td>
            {% endfor %}
          </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

<a class="btn btn btn-success my-2 my-sm-0" style="margin: 15px;" href="{{download_url}}">Download CSV</a>

{% else %}

<div style="margin: 15px;">
  For example, try these <button class="btn btn-btn-link" style="color: blue;" type="button" onclick="document.getElementById('root_ids').value = '{{sample_ids}}'; document.getElementById('root_ids').form.submit();">{{sample_ids}}</button>
</div>

{% endif %}

{% endblock %}