*,
*::before,
*::after {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

.td_filter_buttons {
  opacity: 0.1;
}

.td_filter_buttons_caption {
  font-size: 10px;
  color: grey;
  opacity: 0.0;
}

td:hover .td_filter_buttons {
  opacity: 1;
}

td:hover .td_filter_buttons_caption {
  opacity: 1;
}


tr:nth-child(even){background-color: #fafafa}

#snackbar {
  position: fixed;
  background-color: #ffffff77;
  text-align: center;
  border-radius: 2px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}
