*,
*::before,
*::after {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #fafafa}

#snackbar {
  position: fixed;
  background-color: grey;
  color: red;
  text-align: center;
  border-radius: 2px;
  padding: 0px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}
